.App {
  text-align: center;
  height: 100vh;
  width: 100%;
}
.dark {
  background-color: #282c34;
}

.todo-box {
  margin-left: 500px;
  margin-right: 380px;
}

.itens-concluidos {
  justify-content: flex-start;
  display: flex;
  padding-top: 6px;
  padding-bottom: 6px;
}

.itens-concluidos-icon {
  margin-top: 19px;
  margin-right: 7px;
  color: #909090;
}

h1 {
  color: #3987cd;
}

h2 {
  color: #909090;
  font-size: 22px;
}
